<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the 5-day weather forecast</title>
</head>
<body>
<h1 th:text="'5-Day Weather and Messages Forecast for ' + ${forecast[0].cityName} + ', ' + ${forecast[0].countryName}"></h1>
<table th:each="day : ${forecast}">
    <h2 th:text="${day.date.getDayOfMonth()} + ' ' + ${day.date.getMonth()}"></h2>
    <thead>
    <th>Time</th>
    <th>Temp</th>
    <th>Conditions</th>
    <th>Communication Method</th>
    </thead>
    <tbody>
    <tr th:each="dataPoint : ${day.weatherEvents}">
        <td th:text="${dataPoint.time.toLocalTime()}"></td>
        <td th:text="${dataPoint.temp} + 'F'"></td>
        <td th:text="${dataPoint.conditions}"></td>
        <td th:text="${dataPoint.messageType}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>